.root {
    color: white !important;
    margin-left: 10%;
    margin-right: 10%;
}

.description{
    text-align: justify;
}

.video{
    text-align: left;
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 2%;
}

.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.boycott{
    width: 100%;
    white-space: nowrap !important;
    z-index: 1;
}

.files{
    color: white;
}

.title{
    font-size: 45px;
    font-weight: bold;
}

.middleNav{
    margin-bottom: 40px;
}

.middleNav-btn{
    box-shadow: rgba(255, 182, 48, 0.07) 0px 1px 2px, 
    rgba(255, 182, 48, 0.07) 0px 2px 4px, 
    rgba(255, 182, 48, 0.07) 0px 4px 8px, 
    rgba(255, 182, 48, 0.07) 0px 8px 16px, 
    rgba(255, 182, 48, 0.07) 0px 5px 6px, 
    rgba(255, 182, 48, 0.07) 0px 32px 64px !important;
}

.downloadBtn{
    padding: 10px !important;
    color: black !important;
    margin-top: 1%;
}

.general-text{
    font-size: 20px;
    text-align: justify;
}

a:hover{
    color: #ffda53 !important;
}

.steps{
    width: 300px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.my-banner{
    border: 4px white solid;
    padding: 1%;
    width: fit-content;
    border-radius: 16px;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: 0.3s;
}

.my-banner:hover{
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media screen and (max-width: 600px) {
    .general-text{
        font-size: 15px;
    }

    .downloadBtn{
        margin-top: 2%;
    }

    .steps{
        width: 280px;
        margin-top: 10px;
    }

    .my-banner{
        margin-bottom: 10%;
        padding: 5%;
    }

    .boycott-text{
        font-size: 18px !important;
    }
}