.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Title {
  font-size: 50px;
  font-weight: 700;
  margin: 2%;
  margin-bottom: 2%;
  color: white;
}

.myCard {
  margin: 3%;
}

.cardTitle{
  font-size: 30px !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  background-color: #1a1d24;
  color: white;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 600px) {
  .Title{
    font-size: 40px;
  }
  .App-footer{
    font-size: 14px;
  }
}