.image{
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .my-card{
        max-width: 16rem !important;
        margin: auto;
    }

    .my-card-body{
        padding: 1% !important;
    }
}